<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Delete</title>
</head>
<body>
<h1>Product Delete</h1>
<p><a href="/products">Back to Product List</a></p>
<form th:action="@{/products/delete/__${product.id}__}" method="post">
    <p th:text="${product.name}"></p>
    <p th:text="${product.price}"></p>
    <p th:text="${product.description}"></p>
    <p><img th:src="@{/image/__${product.image}__}" alt="image"></p>
    <button>Delete</button>
</form>
</body>
</html>