<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Edit</title>
</head>
<body>
<h1>Product Edit</h1>
<p><a href="/products">Back to Product List</a></p>
<form th:action="@{/products/edit/__${product.id}__}" method="post" th:object="${product}" enctype="multipart/form-data">
    <input type="text" th:field="*{name}">
    <input type="text" th:field="*{price}">
    <input type="text"  th:field="*{description}">
    <p><img th:src="@{/image/__${product.image}__}" alt="image"></p>
    <input type="file" th:field="*{image}">
    <select th:field="*{category}">
        <option th:each="category: ${categories}" th:if="${product.category.id == category.id}" th:value="${category.id}" th:text="${category.name}" selected></option>
        <option th:each="category: ${categories}" th:if="${product.category.id != category.id}" th:value="${category.id}" th:text="${category.name}"></option>
    </select>
    <button>Edit</button>
</form>
</body>
</html>